.question {
  background-color: $blue;
  padding-top: 28px;
  padding-bottom: 42px;
  width: 100%;
}

.question__container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 $mobile-padding;
}

.question__wrapper {
  max-width: 100%;
}

.question__title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: $roboto-condensed;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;
  color: $white;
}

.question__text {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  color: $white;
}

.question__user-inputs-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.question__user-data {
  @include fieldset-reset;
  margin-bottom: 30px;
}

.question__user-question {
  @include fieldset-reset;
}

.question__user-name,
.question__phone,
.question__textarea {
  display: block;
  @include form-fields;
  padding: 14px 20px 14px 20px;
  width: 100%;
  color: $white;

  &::-webkit-input-placeholder {
    color: $white
  }

  &::-moz-placeholder {
    color: $white
  }
}

.question__user-name:hover,
  .question__phone:hover,
  .question__textarea:hover {
    outline: 1px solid $dark-blue-opacity;
  }

.question__user-name {
  margin-bottom: 32px;
}

.question__textarea {
  width: 100%;
  height: 104px;
  resize: none;
  margin-bottom: 31px;
  padding-top: 17px;
}

.question__button {
  font: inherit;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  padding: 14px 10px;
  margin-bottom: 30px;
}

.question__agreement-label {
  position: relative;
  color: $white;
  display: block;
  width: 230px;
  font-size: 14px;
  line-height: 16px;
  padding-top: 0;
  padding-left: 34px;
  cursor: pointer;
}

.question__agreement-checkbox+label::before {
  @include pseudo;
  width: 17px;
  height: 16px;
  border: 1px solid $white;
  left: 0px;
  top: 2px;
  cursor: pointer;
  z-index: 1000;
}

.question__agreement-checkbox:hover+label::before {
  border: 1px solid $dark-blue-opacity-strong;

}

.question__agreement-checkbox:checked+label::after {
  @include pseudo;
  width: 9px;
  height: 6px;
  left: 5px;
  top: 7px;
  background-image: url("../img/checkmark.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.question__agreement-checkbox:checked:hover+label::after {
  background-image: url("../img/checkmarkhover.svg");
}

.question__button:hover {
  border: 1px solid $dark-blue-opacity;
}

.question__agreement-label:hover {
  color: $dark-blue-opacity-strong;
}

.question__submit {
  width: 290px;
  margin: 0 auto;
}



@media (min-width: $tablet-width) {

  .question {
    padding-top: 78px;
    padding-bottom: 72px;
  }

  .question__container {
    margin: 0 74px;
  }

  .question__user-inputs-wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .question__title {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 18px;
  }

  .question__text {
    margin-bottom: 52px;
  }

  .question__user-name,
  .question__phone,
  .question__textarea {
    display: block;
    @include form-fields;
    padding: 14px 20px 14px 20px;
    width: calc(50% - 16px);
  }

  .question__phone {
    margin-bottom: 32px;
  }

  .question__textarea {
    width: 100%;
    height: 164px;
    margin-bottom: 46px;
  }

  .question__user-data {
    margin-bottom: 8px;
  }

  .question__submit {
    display: flex;
    margin: 0 auto;
    width: 100%;;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .question__button {
    width: 280px;
  }

  .question__agreement-label {
    padding-top: 0;
    padding-left: 36px;
    margin-top: 9px;
    margin-left: 42px;
    width: 236px;
  }

  .question__agreement-checkbox+label::before {
    left: 0px;
    top: -1px;
  }

  .question__agreement-checkbox:checked+label::after {
    left: 5px;
    top: 4px;
  }

}

@media (min-width: $desktop-width) {

  .question {
    padding-top: 90px;
    padding-bottom: 82px;
    background-image: url("../img/triangles-right.svg");
    background-repeat: no-repeat;
    background-position: 1581px 95px;
  }

  .question__container {
    max-width: $main-content-width;
    margin: 0 auto;
  }

  .question__wrapper {
    max-width: $form-width;
    margin-left: auto;
    margin-right: $desktop-padding;
    position: relative;

    &::before {
      @include pseudo;
      width: 511px;
      height: 288px;
      top: 73px;
      left: -625px;
      background-image: url("../img/airplane@1x-desktop.png");
      background-repeat: no-repeat;
      z-index: 1000;
    }

    &::after {
      @include pseudo;
      width: 611px;
      height: 487px;
      top: 4px;
      left: -775px;
      background-image: url("../img/triangles-left.svg");
      background-repeat: no-repeat;
      z-index: 0;
    }
  }

  .question__title {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
  }

  .question__text {
    margin: 0;
    padding: 0;
    margin-left: 4px;
    margin-bottom: 51px;
  }

  .question__user-inputs-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: $form-width;
  }

  .question__user-data {
    margin-bottom: 9px;
  }

  .question__user-name,
  .question__phone,
  .question__textarea {
    display: block;
    @include form-fields;
    padding: 14px 20px 14px 20px;
    width: calc(50% - 15px);
  }

  .question__textarea {
    width: $form-width;
    height: 154px;
    margin-bottom: 43px;
    padding-top: 10px;
  }

  .question__submit {
    width: $form-width;
    position: relative;
  }

  .question__button {
    width: 273px;
  }

  .question__agreement-checkbox+label::before {
    left: -64px;
    top: 1px;
  }

  .question__agreement-label {
    margin-left: 45px;
    padding-left: 26px;
  }

  .question__agreement-checkbox+label::before {
   top: -1px;
   left: -6px;
  }

  .question__agreement-checkbox:checked+label::after {
    top: 4px;
    left: -1px;
   }
}

@media (min-width: 1221px) {
  .question__wrapper {
    margin-right: 0;
  }

}