.social {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  width: 112px;
  padding-top: 31px;
  margin-bottom: 0;
}

.social__icon {
  fill: rgb(205, 205, 205);
}

.social__icon--facebook:hover,
.social__icon--ok:hover,
.social__icon--vk:hover {
  fill: $dark-blue;
}

@media (min-width: $tablet-width) {
  .social {
    margin-top: 6px;
    padding-top: 6px;
    margin-bottom: 73px;
  }
}

@media (min-width: $desktop-width) {

  .social {
    margin-right: 104px;
    margin-top: 20px;
    padding-top: 0;
    margin-bottom: 0;
  }
}