.social {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  width: 112px;
  padding-top: 31px;
}

@media (min-width: $tablet-width) {
  .social {
    margin-top: 0;
    padding-top: 6px;
    margin-bottom: 78x;
  }
}

@media (min-width: $desktop-width) {

  .social {
    margin-right: 104px;
    margin-top: 20px;
    padding-top: 0;
  }

}