$dark-blue: rgb(27, 45, 55);
$blue: rgb(0, 178, 255);
$white: rgb(255, 255, 255);
$text-color: rgb(102, 102, 102);

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$desktop-width: 1024px;
$tablet-width: 768px;
$max-width: 1920px;
$main-content-width: 1220px; // 1170px + $desktop-padding * 2
$header-content-width: 1422px;
$form-width: 570px;

$desktop-padding: 25px;
$mobile-padding: 15px;

$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;

